@media only screen and (max-width: 599px) {
    .weather p{
        font-size: 5vw;
        margin-top: 0%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    .weatherHeader{
        font-size: 5vw;
        margin-top: 0%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .weatherJacket{
        top:0;
        right:0;
        margin-top: 1%;    
        margin-right: 10%;
    }
    .modalDialog > div {
        width: 80%;
        position: relative;
        margin: 30% 10% 20% 10%;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background:rgba(0,0,0,1);
        color: white;
    }
}

@media only screen and (min-width: 600px) {
    .weather p{
        font-size: 3vw;
        margin-top: 0%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    .weatherHeader{
        font-size: 3vw;
        margin-top: 0%;
        padding-right: 10%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .weatherJacket{
        top:0;
        right:10vw;
        margin-top: 1%;    
        margin-right: 5%
    }
    .modalDialog > div {
        width: 80%;
        position: relative;
        margin: 10%;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background:rgba(0,0,0,1);
        color: white;
    }
}

@media only screen and (min-width: 900px) {
    .weather p{
        font-size: 2vw;
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0 0 10px 10px;
        }
    .weatherHeader{
        font-size: 2vw;
        margin-top: 0%;
        margin-right: 10%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    .weatherJacket{
        top:0;
        right: 0;
        margin-top: 1%;    
        margin-right: 3%;
    }
    .weather img {
        transform: scale(1.25);
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: #d9d1c5;
}

header {
    display: inherit;
    justify-content: center;
    height: 10%;
    width: 100vw;
    flex-wrap: wrap;
    position: fixed;
    z-index:2;
    top: 0;
    background-color: steelblue;
}

header img {
    max-width: 100%;
    max-height: 100%;
}

p {
    font-size: 20px;
}

.topR{
    border: solid black 1px;
    font-size: 4vw;
    height: auto;
    text-align: center;
}

.weatherJacket{
    position: fixed;
    top: 1;
    right: 0;
    z-index: 5;
    height:0%;
    text-align: center;
    margin-right: 10%;
}

.weatherHeader{
    background-color:gray;
    opacity: 0.8;
    border-radius: 10%;
    padding: 5px;
    margin: 5px;
}

.weather p {
    padding: 0;
}

.mainPage{
    display: flex;
    width: 100vw;
}    

#map {
    display: inherit;
    justify-content: center;
    height: 60vh;
    width: 100vw;
    position: fixed;
    z-index: 0;
}

.resultsPage{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    position: relative;
    top: 60vh;
    background-color: #f9f6f2;
}

li{
    display: block;
}
    
#directions{
    width: 100vw;
    height: 100px;
}

footer {
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;
}
.aboutButton{
    width: 12vw;
    height: 4vh;
    border: black 1px solid;
    text-align: center;
}

.loading-image {
    z-index: 100;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-image: url('https://media.giphy.com/media/3oFyDpRagf96Uz9rzO/giphy.gif');
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog h2 {
    text-align: center;
}

.close {
    color: #FFFFFF;
    line-height: 1rem;
    position: absolute;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px 3px black;
}

.about-us {
    text-decoration: none;
    font-family: sans-serif;
    color: #A88165;
}

.about-us:hover {
    color: #5E4838;
}