:root {
    box-sizing: border-box;
    overflow-x: none;
}

*,*::before, *::after{
    box-sizing:inherit;
}

body{
    background-color: #008ECC;
    margin: .3rem;
    color: rgba(236, 236, 236, 0.89);
}

li{
    list-style: none;
}

header{
    background-color: #008ECC;
    color: rgba(236, 236, 236, 0.89);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1.5px solid #D3D3D3;

}
header ul{
    display: flex;
    /* border: 1px solid black; */
}
header li{
    font-size: 2rem;
    margin-right: .4em;
    color: black;
}

.directionsJacket ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 2%;
    }

#map{
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
    /* display: none; */
}

#dPlace{
    display: none;
}

#phoneP{
    /* border: 1px black solid; */
    line-height: 2em;
    text-align: center;
}

.inputJacket{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3em;
    /* border: 1px solid black; */
}

#button{
    height: 100%;
    width: 20%;
}
#input{
    width: 50%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
}
#about-button{
    display: none;
    width: 20%;
}
.hide-modal{
    display:none;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* background: rgba(0,0,0,0.8); */
    z-index: 999;
    /* opacity:0; */
    transition: opacity 400ms ease-in;
    pointer-events: none;
    /* display: flex; */
    justify-content: center;
}

#modalJacket{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 10px solid red; */
    margin-top: 10%;
    background: rgba(0,0,0,.9);
    /* width: 90%; */
}
.modalDialog h2 {
    text-align: center;
}
.about-us {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}
.mapPage{
    flex-wrap: wrap;
}
#map{
    display: none;
    /* height: 50vh; */
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .mainPage{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #topL{
        width: 50%;
        /* border: 1px solid orange; */
    }
    .mainPage h2{
        text-align: left;
        width: 100%;
        /* border: 1px black solid; */
    }
    .directionsJacket{
        /* border: 1px red solid; */
        display: flex;
        padding-left: 3%;
        /* align-items: flex-end; */
        text-align: left;
        width: 50%;
    }
    .directionsJacket ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: -.5%;
        padding: 0;
        }
    .directionsJacket h2 li{
        text-align: left;
        list-style-type: none;
    }
    .inputJacket{
        /* border: 1px solid purple; */
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-top: 2%;

    }
    #input{
        border: 1px solid grey;
        font-size: .75em;
        width: 30%;
    }
    #button{
        border: 1px solid grey;
        color: white;
        background-color: rgb(16,52,166);
        width: 5%;
    }
    #dPlace{
        display: flex;
        /* border: 1px solid black; */
        height: 55%;
        line-height: 2em;
    }
    #phoneP{
        display: none;
    }

    #map{
        display: none;
        /* height: 50vh; */
        width: 60%;
    }
}